# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\shared\scmlocal\de.kleiber.demos.plsql.testing.unit\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
